@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* Top level code is written for desptop layout, for mobile layout - write your code in the 
media query */

/* colors */
:root {
  --secondary-color: #000841;
  --primary-color: #3154a0;
  --tertiary-color: #c5c6c6;
  --border-color: #dadce0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 6rem;
}

.App {
  font-family: "Montserrat", sans-serif;
}

/* header styles */
.header {
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 30%;
}

.ham-menu {
  display: none;
  color: var(--primary-color);
  z-index: 3;
}

/* side navbar */
.side-nav {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 2;
  height: 100%;
  font-size: 1.2rem;
}

.side-nav div {
  padding: 1rem 0;
  text-align: center;
  text-shadow: 0 0 5px rgba(49, 84, 160, 0.5);
}

/* products */
.product {
  position: relative;
}

.product-images {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  box-sizing: border-box;
}

.product-images img {
  display: block;
  background-color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 25%;
  object-fit: contain;
}

/* home styles */
.sub-title {
  text-align: center;
  font-weight: bold;
}

.section-1 img {
  width: 50%;
}

.section-3 img {
  width: 10%;
}

.section-1,
.section-2,
.section-3 {
  text-align: center;
  margin-top: 3rem;
  border-bottom: 1px solid var(--border-color);
}

.section-3 {
  border-bottom: none;
}

.section-1 {
  margin-top: 0;
}

/* general styles */
.list-non-bullet {
  list-style: none;
  padding: 0;
}

.list-item-inline {
  display: inline;
  padding: 0 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .list-menu {
    display: none;
  }

  .ham-menu {
    display: block;
  }

  .logo {
    max-width: 80%;
  }

  .container {
    width: 100%;
  }

  .product {
    height: auto;
  }

  .product-images {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .product-images img {
    margin: 1rem 0;
    padding: 1rem;
    width: 40%;
  }

  .product-description {
    width: 90%;
    margin: 0 auto;
  }

  .home {
    width: 90%;
  }

  .section-3 img {
    width: 50%;
  }

  .section-1 img {
    width: 100%;
  }

  .about-body {
    width: 90%;
    margin: 0 auto;
  }
}
